[submodule "CafeApp"]
	path = CafeApp
	url = git@github.com:tamizhvendan/CafeApp.git
[submodule "payroll-calculus"]
	path = payroll-calculus
	url = git@github.com:oncicaradupopovici/payroll-calculus.git
[submodule "real-world-fable"]
	path = real-world-fable
	url = git@github.com:thitemple/real-world-fable.git
[submodule "SAFE-BookStore"]
	path = SAFE-BookStore
	url = git@github.com:wallymathieu/SAFE-BookStore.git
[submodule "SuaveMusicStore"]
	path = SuaveMusicStore
	url = git@github.com:theimowski/SuaveMusicStore.git
